<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">

<aside class="left-sidebar">
    <div class="scroll-sidebar" >

        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-small-cap ui-elements">MENU</li>

                <li> <a href="administracion/user" aria-expanded="false">
                    <i class="mdi mdi-account-cog-outline"></i>
                    <span class="hide-menu">Administrador</span></a>
                </li>

                <li class="has-sub">  
                    <a href="venta" aria-expanded="false">
                        <i class="mdi mdi-cash"></i>

                        <span class="hide-menu">Venta</span>
                    </a>
                </li>
                
                <li> <a href="caja/cierre" aria-expanded="false">
                    <i class="mdi mdi-cash-register"></i>
                    <span class="hide-menu">Caja</span></a>
                </li>
                
                
                <li> 
                    <a href="inventario/productos" aria-expanded="false">
                        <i class="mdi mdi-shopping-outline"></i>
                        <span class="hide-menu">Producto</span>
                    </a>
                </li>
               
              
             
            </ul>
        </nav>
    </div>
</aside>
